@charset "UTF-8";

@import "mixin.scss";

input[type='text'], select, button {
  padding: 5px;
  margin: 0;
  border: 1px solid #c9c9c9;
  border-radius: 0;
  font-size: 1.3rem;
  line-height: 1;
  background-color: transparent;
  box-sizing: border-box;
  vertical-align: middle;
}

input[type='checkbox'] {
  margin: 0;
}

header {
  width: 100%;
  background-color: #222;

  .header-top {
    position: relative;
    padding: 15px;
    color: #fff;

    h1 {
      font-size: 2rem;
    }

    ul {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      li {
        float: left;
        margin-left: 10px;

        a {
          font-size: 1.3rem;
          color: #fff;
        }
      }
    }
  }

  .gnb {
    nav {
      ul {
        li {
          float: left;

          &.current, &.active {
            .dep01 {
              background-color: #464646;
              color: #ffd600;
            }

            .dep02 {
              display: block;
            }
          }

          &.current {
            z-index: 0;
          }

          &.active {
            z-index: 1;
          }

          .dep01 {
            display: inline-block;
            min-width: 150px;
            margin-right: 4px;
            padding: 10px 15px;
            font-size: 1.5rem;
            font-weight: 700;
            text-align: center;
            color: #707070;
            background-color: #fff;
          }

          .dep02 {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            height: 40px;
            background-color: #464646;
            z-index: 1;

            li {
              padding: 0 15px;
              line-height: 4rem;

              a {
                font-size: 1.3rem;
                color: #fff;
              }
            }
          }
        }

        &::after {
          content: '';
          display: block;
          clear: both;
        }
      }
    }
  }
}

.contents {
  padding: 100px 30px 0;

  &-top {
    h2 {
      padding: 15px 0;
      font-size: 2.8rem;
      font-weight: bold;
    }

    .search {
      margin-top: 30px;
    }
  }

  .admin-current {
    padding: 10px 15px;
    background-color: #eee;

    p {
      font-size: 1.4rem;
      color: #000;

      span {
        position: relative;
        display: inline-block;
        padding-right: 12px;
        margin-right: 11px;
        line-height: 1.5rem;
        font-weight: bold;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 0;
          width: 2px;
          height: 100%;
          background-color: #000;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.form {
  &-select {

  }

  &-input {

  }

  &-search {
    text-align: right;

    input[type='text'], select, button {
      height: 33px;
    }

    .form-input {
      width: 300px;
    }
  }

  &-group {
    &.inline {
      display: inline-block;
    }
  }
}

.btn {
  padding: 10px 20px;
  border: 0;

  &-primary {
    background-color: #00007e;
    color: #fff;
  }

  &-secondary {
    background-color: #c9c9c9;
  }

  &-excel {
    background-color: #185c37;
    color: #fff;
  }

  &-wrap {
    padding: 20px 0;

    &.rt {
      text-align: right;
    }

    &.ct {
      text-align: center;
    }
  }
}

.search {
  padding: 20px 0;
}

.table {
  table, th, td {
    padding: 7px 10px;
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    font-size: 1.4rem;
    text-align: center;
    vertical-align: middle;
  }

  th {
    font-weight: bold;
    background-color: #eee;
  }

  .full {
    width: 100%;
  }

  .tb {
    &-check {
      width: 50px;
    }

    &-form {
      text-align: left;

      input[type="text"] {
        min-width: 300px;
      }
    }
  }
}
